# Node bağımlılıkları
node_modules

# Git
.git
.gitignore

# Build çıktıları
**/dist
**/build

# Log dosyaları
*.log

# Development dosyaları
**/.env
**/.env.*
**/.vscode
**/.idea
**/.DS_Store

# Test ve coverage
**/coverage
